/* @import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap'); */

@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Carrois Gothic", sans-serif;
}
*{
  /* font-family: "Carrois Gothic", sans-serif; */
  /* font-family: "BentonSans-Book"; */
  /* font-optical-sizing: auto;
  font-weight: 500; */
  font-style: normal;
  letter-spacing: 0.7px !important;}


  @keyframes zoom-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoom-in 0.3s ease-out;
}

.menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu.open {
  max-height: 100%; /* ya jitna content ka height */
}

/* Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 2px;              /* vertical */
  height: 2px;             /* horizontal */
}
::-webkit-scrollbar-thumb {
  background: #facc15;     /* yellow-400 */
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #eab308;     /* yellow-500 */
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;                    /* similar ~3px */
  scrollbar-color: gray transparent;     /* thumb, track */
}


.hide-scrollbar {
  -ms-overflow-style: none;  /* IE aur Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}